
.list-group {
		
	max-height: 90vh;
	overflow-y: scroll;

}

.card {

	margin: 0 0 30px 0;
	text-align: center;

}

.card-img-top {

	background-position: center;
	background-size: cover;
	min-height: 100px;

}

.wall {

	max-height: 90vh;
	overflow-y: scroll;

}